<!DOCTYPE html>
<html>
  <head>
    <title>Zgb705</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div class="container-fluid">
<<<<<<< HEAD
        <%= render "common/navbar"%>
        <%= render "common/flashes"%>
         <%= yield %>
     </div>
    <%= render "common/footer" %>
=======

         <%= render "common/navbar"%>
         <%= render "common/flashes"%>
        <%= yield %>
     </div>
         <%= render "common/footer"%>
>>>>>>> 02
  </body>
</html>
